<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Primul controller</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
body {
  background-image: url("https://www.baeldung.com/wp-content/uploads/2018/12/Model_2.png");
  background-repeat: no-repeat;
  background-size : 850px;
  background-position: center;
  background-attachment: fixed;


}
</style>
<body>

&nbsp&nbsp <p style="font-size:30px"> Salutare din interiorul unui MVC Controller :). Valoarea primita este:     <td th:text="${result}">1</td> </p>
<br><a href="/">Back to REST</a>

</body>
</html>
